In [1]:
#### 1). Create a tuple called data with two values, (1, 2) and (3, 4)
value1=[1,2]
value2=[3,4]
tuple1=value1+value2
print(tuple1)

[1, 2, 3, 4]

In [2]:
 #### 3). Create a copy of the number list using [:]
list=[4,3,2,1]
list2=list[:]
print(list2,list)

[4, 3, 2, 1] [4, 3, 2, 1]

In [3]:
list=[4,3,2,1]
list.sort(reverse=True)

In [4]:
list

[4, 3, 2, 1]

In [5]:
#### 4). Sort the numbers list in numerical order
list=[4,3,2,1]
list.sort()

In [6]:
list

[1, 2, 3, 4]

In [7]:
#### 5). Create a tuple "cardinal_numbers" with "first", "second" and "third"
#### 6). Display the second object in the tuple

cardinal_numbers=("fist","second","third")
print(cardinal_numbers[-2])

second

In [8]:
#### 7). Unpack the tuple into three strings and display them

cardinal_numbers=("fist","second","third")
for ever_cardinal_number in cardinal_numbers :
    print(ever_cardinal_number)

fist
second
third

In [9]:
#### 8). Create a tuple containing the letters of your name from a string

my_name1=("pre")
my_name2=("eti")
my_name=(my_name1+my_name2)

In [10]:
my_name

'preeti'

In [11]:
#### 9) Check whether or not x is in my_name

print("x" in my_name)

False

In [12]:
#### 10). Check whether or not s is in my_name

print("s" in my_name)

False